.App {
  text-align: center;
  background-image: url("https://media1.giphy.com/media/nlJF31X6I1LW/giphy.gif?cid=ecf05e471c07891f66dbc74c64041a2e0fba878517bd429d&rid=giphy.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;

}

/* header by charles*/

h1 {
  font-style: italic;
}

#header{
  background-image: url("https://media1.giphy.com/media/1oF1KAEYvmXBMo6uTS/source.gif");
  width: 100%;
  height: 10vh;
  text-align: center;
  color: white;
}

/* Nav  */
li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
/* End Nav */

/* Home styling */
.homeContainer{
  border: none;

}

.homeImg{
  height: 650px;
  width: 450px;
 
}

/* Footer Styling */
.footerParent{
  border: 3px solid red;
 
}

/* End Footer Styling */

#sectionOne{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top{
  text-align: center;
  color: whitesmoke;

}

#headlineArea{
width: 38%;
display: inline-flex;
flex-direction: column;
height: 70vh;
}

#textHeadlineOne{
  width: 100%;
  height: 50%;
  background-color: whitesmoke;
  font-size: 64px;
  font-family: 'Jura', sans-serif;
  color: #1C4032;
  border-top-left-radius: 15px;
}

#aiImageOne{
  width: 100%;
  height: 50%;
  border: solid black 1px;
  background-image: url("./images/irobot.jpeg");
}

#mainTextAreaOne{
  width: 58%;
  display: inline-flex;
  height: 70vh;
  border: solid black 1px;
  background-color: whitesmoke;
  color: #1C4032;
  font-size: xx-large;
  font-weight: bolder;
  border-top-right-radius: 15px;
  
}

#mainTextSlide{
  animation-name: mainText;
  animation-duration: 0.35s;
}

@keyframes mainText{
  0%{
margin-left: 500px;
  }

 

  100%{
margin-left: 0;
  }
}


#arrow{
  color: #1C4032;
}

#sectionTwo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#headlineAreaTwo{
  width: 38%;
  display: inline-flex;
  flex-direction: column;
  height: 70vh;
  border: solid black 1px;
  background-color: whitesmoke;
  }

  #textHeadlineTwo{
    width: 100%;
    height: 50%;
    border: solid black 1px;
    background-color: black;
    font-family: 'Jura', sans-serif;
    font-size: 58px;
    color: whitesmoke;
  }

  #aiImageTwo{
    width: 100%;
    height: 50%;
    border: solid black 1px;
    background-image: url("./images/johhnyfive.jpg");
  }

  #mainTextAreaTwo{
    width: 58%;
    display: inline-flex;
    height: 70vh;
    border: solid black 1px;
    background-color: black;
    color: whitesmoke;
    font-size: x-large;
  font-weight: bolder;
  }

  #sectionThree{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #headlineAreaThree{
    width: 38%;
    display: inline-flex;
    flex-direction: column;
    height: 70vh;
    border: solid black 1px;
    }
  
    #textHeadlineThree{
      width: 100%;
      height: 50%;
      border: solid black 1px;
      background-color: #1C4032;
      font-family: 'Jura', sans-serif;
      font-size: 58px;
      color: whitesmoke;
    }
  
    #aiImageThree{
      width: 100%;
      height: 50%;
      border: solid black 1px;
      background-image: url("./images/citizenship.jpg");
    }
  
    #mainTextAreaThree{
      width: 58%;
      display: inline-flex;
      height: 70vh;
      border: solid black 1px;
      background-color: #1C4032;
      color: whitesmoke;
      font-size: x-large;
      font-weight: bolder;
    }

    #backgroundAll{
      background-image: url("./images/Screen\ Shot\ 2020-05-01\ at\ 3.52.23\ AM.png");
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    }

    #pageContent{
      margin-left: 5vw;
    }
  