.App {
  text-align: center;
}


/* Nav */
li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
/* End Nav */

/* Home styling */
.homeImg{
  margin: 10px;
  height: 650px;
  width: 450px;
 
}

/* End Home Styling */


/* Header Styling */

/* End Header Styling */





/* Footer Styling */



/* End Footer Styling */

