.App {
  text-align: center;
}

/* header by charles*/

#header{
  width: 100%;
  height: 15vh;
  background-color: black;
  text-align: center;
  color: grey;
}

.background{
  background-image: url('industry-standard/src/images/DataCover.png') ;
}
/* Nav  */
li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
/* End Nav */

/* Home styling */
.homeContainer{
  border: solid 3px orange;

}


.homeImg{
  height: 650px;
  width: 450px;
 
}



/* Footer Styling */
.footerParent{
  border: 3px solid red;
 
}


/* End Footer Styling */

